name: Run tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install LLVM
        run: |
          sudo apt install --no-install-recommends -y lsb-release wget software-properties-common gnupg
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21
          sudo apt-get update
          sudo apt install --no-install-recommends -y libllvm21 llvm-21 llvm-21-dev llvm-21-runtime libpolly-21-dev
          sudo update-alternatives --install /usr/bin/llvm-config llvm-config /usr/bin/llvm-config-21 10

      - name: Install Clang and Mold
        run: sudo apt-get install -y clang mold

      - name: Install just
        run: cargo install just

      - name: Run tests
        run: just test
